*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #55aae1;
}
.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}
.card-body{
    background-color: whitesmoke;
}
.product{
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}
.product img {
    height: 300px;
    padding: 10px;
}

.product .col-lg-4 {
    margin-top: 20px;
}

.product .card-body {
    height: 300px;
}

.product h3 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#cartbtn{
    margin: 20px 20px 20px 20px;
    height: 60px;
    width: 60px;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.well{
    border-radius: 10px;
    background-color: yellow;
}
#well{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 3rem;
}
.circal{
    height: 180px;
    width: 180px;
    border: 1px solid; 
    border-radius: 50%;
    margin-top: -150px;
    margin-left: -50px;
    margin-bottom: 50px;
    background-color: yellow;
    animation: updown 6s infinite;
}
 @keyframes updown {
 0%,100% {
       transform: translate(0px, 25px);
    }
 50% {
       transform: translate(0, 0);
    }
 }
 .circal p{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    line-height: 0.9em;
}
 .circal span{
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    line-height: 50px;
 }
 #star{
    color: red;
    font-size: 1rem;
 }
 #star1{
    color: red;
 }
 #pastc{
    background-color: whitesmoke;
    border-radius: 5px;
 }